In [32]:
import pandas as pd
import requests
headers = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36"
}
teams_table=pd.DataFrame()
for i in range(1,5):
    url = f"https://stats.espncricinfo.com/ci/engine/stats/index.html?class=3;filter=advanced;orderby=runs;page={i};size=200;spanmax1=25+Oct+2024;spanmax2=25+Oct+2024;spanmin1=25+Oct+2014;spanmin2=25+Oct+2014;spanval1=span;spanval2=span;template=results;type=team;view=season"
    response = requests.get(url, headers=headers)
    response.raise_for_status()  # Raise an exception for HTTP errors
    # Read HTML with pandas
    tables = pd.read_html(response.text, flavor='bs4')  # or use flavor='html5lib'
    stats_table = tables[2]
    teams_table=pd.concat([stats_table, teams_table], axis=0, ignore_index=True)

In [39]:
teams_table.sort_values(by='Team', ascending=False, inplace=True)

In [41]:
teams_table.drop(columns=['Unnamed: 14'], axis=1,inplace=True)
teams_table

,Team,Mat,Won,Lost,Tied,NR,W/L,Runs,Ave,RPO,Inns,HS,LS,Season
69,Zimbabwe,2,0,2,0,0,0.000,258,15.17,6.91,2,132,126,2018/19
669,Zimbabwe,11,5,5,0,1,1.000,1423,16.94,7.13,11,174,115,2022/23
68,Zimbabwe,2,0,2,0,0,0.000,261,18.64,6.52,2,141,-,2017/18
551,Zimbabwe,15,5,10,0,0,0.500,2257,20.15,7.59,15,190,127,2015/16
540,Zimbabwe,16,9,7,0,0,1.285,2448,22.45,7.75,16,236,95,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
630,Afghanistan,10,10,0,0,0,-,1619,33.72,8.92,10,233,-,2016/17
130,Afghanistan,4,2,2,0,0,1.000,654,25.15,8.17,4,197,-,2019
363,Afghanistan,8,5,3,0,0,1.666,1010,18.36,7.04,8,183,56,2024
386,Afghanistan,6,5,1,0,0,5.000,959,31.96,8.37,6,210,-,2015
523,Afghanistan,17,12,5,0,0,2.400,2784,24.85,8.27,17,215,160,2015/16

In [58]:
teams_table.to_csv('t20_team_stats.csv',index=False)

In [35]:
batting_table=pd.DataFrame()
for i in range(1,58):
    if i%5==0:
        print(i)
    url = f"https://stats.espncricinfo.com/ci/engine/stats/index.html?class=3;filter=advanced;page={i};size=200;spanmax1=25+Oct+2024;spanmax2=25+Oct+2024;spanmin1=25+Oct+2014;spanmin2=25+Oct+2014;spanval1=span;spanval2=span;template=results;type=batting;view=season"
    response = requests.get(url, headers=headers)
    response.raise_for_status()  # Raise an exception for HTTP errors
    # Read HTML with pandas
    tables = pd.read_html(response.text, flavor='bs4')  # or use flavor='html5lib'
    stats_table = tables[2]
    batting_table=pd.concat([stats_table, batting_table], axis=0, ignore_index=True)

5
10
15
20
25
30
35
40
45
50
55

In [47]:
batting_table.sort_values(by='Player', ascending=False, inplace=True)

In [46]:
batting_table.drop(columns=['Unnamed: 15'], axis=1,inplace=True)
batting_table

,Player,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s,Season
1556,Zulqarnain Haider (ESP),4,1,0,0,0,0.00,0,-,0,0,1,0,0,2019
806,Zulqarnain Haider (ESP),1,-,-,-,-,-,-,-,-,-,-,-,-,2019/20
3465,Zulqarnain Haider (ESP),6,3,1,8,4,4.00,12,66.66,0,0,0,0,0,2022
4399,Zulfiqar Ali Shah (PORT),1,1,0,12,12,12.00,9,133.33,0,0,0,0,1,2021
3305,Zuhair Muhammad (KSA),2,2,0,7,5,3.50,16,43.75,0,0,0,0,0,2023/24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
387,A Ahmadhel (BUL),2,-,-,-,-,-,-,-,-,-,-,-,-,2023
4666,A Ahmadhel (BUL),3,2,0,16,15,8.00,16,100.0,0,0,0,2,0,2019/20
2828,A Ahmadhel (BUL),3,3,0,5,4,1.66,13,38.46,0,0,1,1,0,2021
2365,A Ahmadhel (BUL),2,1,0,2,2,2.00,7,28.57,0,0,0,0,0,2020/21
3431,A Ahmadhel (BUL),1,1,1,8,8*,-,8,100.0,0,0,0,0,0,2020

In [59]:
batting_table.to_csv('t20_batting_stats.csv',index=False)

In [49]:
bowling_table=pd.DataFrame()
for i in range(1,58):
    if i%5==0:
        print(i)
    url = f"https://stats.espncricinfo.com/ci/engine/stats/index.html?class=3;filter=advanced;page={i};size=200;spanmax1=25+Oct+2024;spanmax2=25+Oct+2024;spanmin1=25+Oct+2014;spanmin2=25+Oct+2014;spanval1=span;spanval2=span;template=results;type=bowling;view=season"
    response = requests.get(url, headers=headers)
    response.raise_for_status()  # Raise an exception for HTTP errors
    # Read HTML with pandas
    tables = pd.read_html(response.text, flavor='bs4')  # or use flavor='html5lib'
    stats_table = tables[2]
    bowling_table=pd.concat([stats_table, bowling_table], axis=0, ignore_index=True)

5
10
15
20
25
30
35
40
45
50
55

In [50]:
bowling_table.sort_values(by='Player', ascending=False, inplace=True)
bowling_table

,Player,Mat,Inns,Overs,Mdns,Runs,Wkts,BBI,Ave,Econ,SR,4,5,Season,Unnamed: 14
8885,Zulqarnain Haider (ESP),6,6,15.0,0,91,5,2/26,18.2,6.06,18.0,0,0,2022,NaN
4971,Zulqarnain Haider (ESP),1,1,3.0,0,7,0,-,-,2.33,-,0,0,2019/20,NaN
7904,Zulqarnain Haider (ESP),4,4,10.0,0,53,3,1/7,17.66,5.3,20.0,0,0,2019,NaN
2350,Zulfiqar Ali Shah (PORT),1,-,-,-,-,-,-,-,-,-,-,-,2021,NaN
468,Zuhair Muhammad (KSA),2,-,-,-,-,-,-,-,-,-,-,-,2023/24,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1366,A Ahmadhel (BUL),2,-,-,-,-,-,-,-,-,-,-,-,2023,NaN
6187,A Ahmadhel (BUL),1,1,2.0,0,22,1,1/22,22.0,11.0,12.0,0,0,2020,NaN
6843,A Ahmadhel (BUL),2,2,2.4,0,27,2,1/6,13.5,10.12,8.0,0,0,2020/21,NaN
7908,A Ahmadhel (BUL),3,3,10.0,0,75,3,2/16,25.0,7.5,20.0,0,0,2019/20,NaN
481,A Ahmadhel (BUL),1,-,-,-,-,-,-,-,-,-,-,-,2024,NaN

In [53]:
bowling_table.drop(columns=['Unnamed: 14'], axis=1,inplace=True)
bowling_table

,Player,Mat,Inns,Overs,Mdns,Runs,Wkts,BBI,Ave,Econ,SR,4,5,Season
8885,Zulqarnain Haider (ESP),6,6,15.0,0,91,5,2/26,18.2,6.06,18.0,0,0,2022
4971,Zulqarnain Haider (ESP),1,1,3.0,0,7,0,-,-,2.33,-,0,0,2019/20
7904,Zulqarnain Haider (ESP),4,4,10.0,0,53,3,1/7,17.66,5.3,20.0,0,0,2019
2350,Zulfiqar Ali Shah (PORT),1,-,-,-,-,-,-,-,-,-,-,-,2021
468,Zuhair Muhammad (KSA),2,-,-,-,-,-,-,-,-,-,-,-,2023/24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1366,A Ahmadhel (BUL),2,-,-,-,-,-,-,-,-,-,-,-,2023
6187,A Ahmadhel (BUL),1,1,2.0,0,22,1,1/22,22.0,11.0,12.0,0,0,2020
6843,A Ahmadhel (BUL),2,2,2.4,0,27,2,1/6,13.5,10.12,8.0,0,0,2020/21
7908,A Ahmadhel (BUL),3,3,10.0,0,75,3,2/16,25.0,7.5,20.0,0,0,2019/20
481,A Ahmadhel (BUL),1,-,-,-,-,-,-,-,-,-,-,-,2024

In [60]:
bowling_table.to_csv('t20_bowling_stats.csv',index=False)

In [51]:
fielding_table=pd.DataFrame()
for i in range(1,58):
    if i%5==0:
        print(i)
    url = f"https://stats.espncricinfo.com/ci/engine/stats/index.html?class=3;filter=advanced;page={i};size=200;spanmax1=25+Oct+2024;spanmax2=25+Oct+2024;spanmin1=25+Oct+2014;spanmin2=25+Oct+2014;spanval1=span;spanval2=span;template=results;type=fielding;view=season"
    response = requests.get(url, headers=headers)
    response.raise_for_status()  # Raise an exception for HTTP errors
    # Read HTML with pandas
    tables = pd.read_html(response.text, flavor='bs4')  # or use flavor='html5lib'
    stats_table = tables[2]
    fielding_table=pd.concat([stats_table, fielding_table], axis=0, ignore_index=True)

5
10
15
20
25
30
35
40
45
50
55

In [55]:
fielding_table.sort_values(by='Player', ascending=False, inplace=True)
fielding_table

,Player,Mat,Inns,Dis,Ct,St,Ct Wk,Ct Fi,MD,D/I,Season,Unnamed: 11
5894,Zulqarnain Haider (ESP),4,4,1,1,0,0,1,1 (1ct 0st),0.25,2019,NaN
2516,Zulqarnain Haider (ESP),1,1,0,0,0,0,0,0,0.0,2019/20,NaN
1546,Zulqarnain Haider (ESP),6,6,0,0,0,0,0,0,0.0,2022,NaN
2106,Zulfiqar Ali Shah (PORT),1,1,0,0,0,0,0,0,0.0,2021,NaN
494,Zuhair Muhammad (KSA),2,2,0,0,0,0,0,0,0.0,2023/24,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
3007,A Ahmadhel (BUL),3,3,0,0,0,0,0,0,0.0,2019/20,NaN
4280,A Ahmadhel (BUL),1,1,1,1,0,0,1,1 (1ct 0st),1.0,2024,NaN
1420,A Ahmadhel (BUL),2,1,0,0,0,0,0,0,0.0,2023,NaN
2581,A Ahmadhel (BUL),2,2,0,0,0,0,0,0,0.0,2020/21,NaN
2286,A Ahmadhel (BUL),3,3,0,0,0,0,0,0,0.0,2021,NaN

In [56]:
fielding_table.drop(columns=['Unnamed: 11'], axis=1,inplace=True)
fielding_table

,Player,Mat,Inns,Dis,Ct,St,Ct Wk,Ct Fi,MD,D/I,Season
5894,Zulqarnain Haider (ESP),4,4,1,1,0,0,1,1 (1ct 0st),0.25,2019
2516,Zulqarnain Haider (ESP),1,1,0,0,0,0,0,0,0.0,2019/20
1546,Zulqarnain Haider (ESP),6,6,0,0,0,0,0,0,0.0,2022
2106,Zulfiqar Ali Shah (PORT),1,1,0,0,0,0,0,0,0.0,2021
494,Zuhair Muhammad (KSA),2,2,0,0,0,0,0,0,0.0,2023/24
...,...,...,...,...,...,...,...,...,...,...,...
3007,A Ahmadhel (BUL),3,3,0,0,0,0,0,0,0.0,2019/20
4280,A Ahmadhel (BUL),1,1,1,1,0,0,1,1 (1ct 0st),1.0,2024
1420,A Ahmadhel (BUL),2,1,0,0,0,0,0,0,0.0,2023
2581,A Ahmadhel (BUL),2,2,0,0,0,0,0,0,0.0,2020/21
2286,A Ahmadhel (BUL),3,3,0,0,0,0,0,0,0.0,2021

In [61]:
fielding_table.to_csv('t20_fielding_stats.csv',index=False)

: