In [7]:
import pandas as pd
import requests
headers = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36"
}
teams_table=pd.DataFrame()
for i in range(1,6):
    url = f"https://stats.espncricinfo.com/ci/engine/stats/index.html?class=3;filter=advanced;orderby=season;page={i};size=200;template=results;type=team;view=season"
    response = requests.get(url, headers=headers)
    response.raise_for_status()  # Raise an exception for HTTP errors
    # Read HTML with pandas
    tables = pd.read_html(response.text, flavor='bs4')  # or use flavor='html5lib'
    stats_table = tables[2]
    teams_table=pd.concat([stats_table, teams_table], axis=0, ignore_index=True)

In [8]:
teams_table.sort_values(by=['Team','Season'], ascending=False, inplace=True)

In [11]:
teams_table.drop(columns=['Unnamed: 13'], axis=1,inplace=True)
teams_table

,Team,Mat,Won,Lost,Tied,NR,W/L,Ave,RPO,Inns,HS,LS,Season
106,Zimbabwe,5,5,0,0,0,-,43.6,12.82,5,344,-,2024/25
82,Zimbabwe,10,2,8,0,0,0.250,17.48,7.16,10,159,124,2024
306,Zimbabwe,17,8,9,0,0,0.888,24.03,7.81,17,217,82,2023/24
180,Zimbabwe,11,5,5,0,1,1.000,16.94,7.13,11,174,115,2022/23
123,Zimbabwe,16,9,7,0,0,1.285,22.45,7.75,16,236,95,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...
872,Afghanistan,10,4,6,0,0,0.666,17.15,6.92,10,171,72,2013/14
845,Afghanistan,4,2,2,0,0,1.000,16.26,6.56,4,140,80,2012/13
817,Afghanistan,3,2,1,0,0,2.000,22.66,7.97,3,174,-,2011/12
790,Afghanistan,2,0,2,0,0,0.000,10.83,5.41,2,115,80,2010
774,Afghanistan,6,4,2,0,0,2.000,20.22,6.89,6,147,-,2009/10

In [12]:
teams_table.to_csv('t20_team_stats.csv',index=False)

In [13]:
batting_table=pd.DataFrame()
for i in range(1,72):
    if i%5==0:
        print(i)
    url = f"https://stats.espncricinfo.com/ci/engine/stats/index.html?class=3;filter=advanced;orderby=season;page={i};size=200;template=results;type=batting;view=season"
    response = requests.get(url, headers=headers)
    response.raise_for_status()  # Raise an exception for HTTP errors
    # Read HTML with pandas
    tables = pd.read_html(response.text, flavor='bs4')  # or use flavor='html5lib'
    stats_table = tables[2]
    batting_table=pd.concat([stats_table, batting_table], axis=0, ignore_index=True)

5
10
15
20
25
30
35
40
45
50
55
60
65
70

In [14]:
batting_table.sort_values(by=['Player','Season'], ascending=False, inplace=True)

In [15]:
batting_table.drop(columns=['Unnamed: 15'], axis=1,inplace=True)
batting_table

,Player,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s,Season
12545,Zulqarnain Haider (PAK),2,2,0,18,17,9.00,21,85.71,0,0,0,1,0,2010/11
13719,Zulqarnain Haider (PAK),1,1,0,5,5,5.00,9,55.55,0,0,0,0,0,2006/07
7497,Zulqarnain Haider (ESP),1,-,-,-,-,-,-,-,-,-,-,-,-,2019/20
8600,Zulqarnain Haider (ESP),4,1,0,0,0,0.00,0,-,0,0,1,0,0,2019
4875,Zulqarnain Haider (ESP),6,3,1,8,4,4.00,12,66.66,0,0,0,0,0,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7481,A Ahmadhel (BUL),3,3,0,5,4,1.66,13,38.46,0,0,1,1,0,2021
7632,A Ahmadhel (BUL),2,1,0,2,2,2.00,7,28.57,0,0,0,0,0,2020/21
7499,A Ahmadhel (BUL),1,1,1,8,8*,-,8,100.00,0,0,0,0,0,2020
8292,A Ahmadhel (BUL),3,2,0,16,15,8.00,16,100.00,0,0,0,2,0,2019/20
2819,A Ahmadhel (BUL),2,-,-,-,-,-,-,-,-,-,-,-,-,2023

In [16]:
batting_table.to_csv('t20_batting_stats.csv',index=False)

In [17]:
bowling_table=pd.DataFrame()
for i in range(1,72):
    if i%5==0:
        print(i)
    url = f"https://stats.espncricinfo.com/ci/engine/stats/index.html?class=3;filter=advanced;orderby=season;page={i};size=200;template=results;type=bowling;view=season"
    response = requests.get(url, headers=headers)
    response.raise_for_status()  # Raise an exception for HTTP errors
    # Read HTML with pandas
    tables = pd.read_html(response.text, flavor='bs4')  # or use flavor='html5lib'
    stats_table = tables[2]
    bowling_table=pd.concat([stats_table, bowling_table], axis=0, ignore_index=True)

5
10
15
20
25
30
35
40
45
50
55
60
65
70

In [18]:
bowling_table.sort_values(by=['Player','Season'], ascending=False, inplace=True)
bowling_table

,Player,Mat,Inns,Overs,Mdns,Runs,Wkts,BBI,Ave,Econ,SR,4,5,Season,Unnamed: 14
12570,Zulqarnain Haider (PAK),2,-,-,-,-,-,-,-,-,-,-,-,2010/11,NaN
13737,Zulqarnain Haider (PAK),1,-,-,-,-,-,-,-,-,-,-,-,2006/07,NaN
7987,Zulqarnain Haider (ESP),1,1,3.0,0,7,0,-,-,2.33,-,0,0,2019/20,NaN
4986,Zulqarnain Haider (ESP),6,6,15.0,0,91,5,2/26,18.20,6.06,18.0,0,0,2022,NaN
8811,Zulqarnain Haider (ESP),4,4,10.0,0,53,3,1/7,17.66,5.30,20.0,0,0,2019,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7629,A Ahmadhel (BUL),2,2,2.4,0,27,2,1/6,13.50,10.12,8.0,0,0,2020/21,NaN
7499,A Ahmadhel (BUL),1,1,2.0,0,22,1,1/22,22.00,11.00,12.0,0,0,2020,NaN
8287,A Ahmadhel (BUL),3,3,10.0,0,75,3,2/16,25.00,7.5,20.0,0,0,2019/20,NaN
792,A Ahmadhel (BUL),1,-,-,-,-,-,-,-,-,-,-,-,2024,NaN
2919,A Ahmadhel (BUL),2,-,-,-,-,-,-,-,-,-,-,-,2023,NaN

In [19]:
bowling_table.drop(columns=['Unnamed: 14'], axis=1,inplace=True)
bowling_table

,Player,Mat,Inns,Overs,Mdns,Runs,Wkts,BBI,Ave,Econ,SR,4,5,Season
12570,Zulqarnain Haider (PAK),2,-,-,-,-,-,-,-,-,-,-,-,2010/11
13737,Zulqarnain Haider (PAK),1,-,-,-,-,-,-,-,-,-,-,-,2006/07
7987,Zulqarnain Haider (ESP),1,1,3.0,0,7,0,-,-,2.33,-,0,0,2019/20
4986,Zulqarnain Haider (ESP),6,6,15.0,0,91,5,2/26,18.20,6.06,18.0,0,0,2022
8811,Zulqarnain Haider (ESP),4,4,10.0,0,53,3,1/7,17.66,5.30,20.0,0,0,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7629,A Ahmadhel (BUL),2,2,2.4,0,27,2,1/6,13.50,10.12,8.0,0,0,2020/21
7499,A Ahmadhel (BUL),1,1,2.0,0,22,1,1/22,22.00,11.00,12.0,0,0,2020
8287,A Ahmadhel (BUL),3,3,10.0,0,75,3,2/16,25.00,7.5,20.0,0,0,2019/20
792,A Ahmadhel (BUL),1,-,-,-,-,-,-,-,-,-,-,-,2024
2919,A Ahmadhel (BUL),2,-,-,-,-,-,-,-,-,-,-,-,2023

In [20]:
bowling_table.to_csv('t20_bowling_stats.csv',index=False)

In [21]:
fielding_table=pd.DataFrame()
for i in range(1,72):
    if i%5==0:
        print(i)
    url = f"https://stats.espncricinfo.com/ci/engine/stats/index.html?class=3;filter=advanced;orderby=season;page={i};size=200;template=results;type=fielding;view=season"
    response = requests.get(url, headers=headers)
    response.raise_for_status()  # Raise an exception for HTTP errors
    # Read HTML with pandas
    tables = pd.read_html(response.text, flavor='bs4')  # or use flavor='html5lib'
    stats_table = tables[2]
    fielding_table=pd.concat([stats_table, fielding_table], axis=0, ignore_index=True)

5
10
15
20
25
30
35
40
45
50
55
60
65
70

In [22]:
fielding_table.sort_values(by=['Player','Season'], ascending=False, inplace=True)
fielding_table

,Player,Mat,Inns,Dis,Ct,St,Ct Wk,Ct Fi,MD,D/I,Season,Unnamed: 11
12570,Zulqarnain Haider (PAK),2,2,1,0,1,0,0,1 (0ct 1st),0.5,2010/11,NaN
13737,Zulqarnain Haider (PAK),1,1,0,0,0,0,0,0,0.0,2006/07,NaN
4575,Zulqarnain Haider (ESP),6,6,0,0,0,0,0,0,0.0,2022,NaN
7497,Zulqarnain Haider (ESP),1,1,0,0,0,0,0,0,0.000,2019/20,NaN
8668,Zulqarnain Haider (ESP),4,4,1,1,0,0,1,1 (1ct 0st),0.25,2019,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
7632,A Ahmadhel (BUL),2,2,0,0,0,0,0,0,0.000,2020/21,NaN
7499,A Ahmadhel (BUL),1,1,0,0,0,0,0,0,0.000,2020,NaN
8293,A Ahmadhel (BUL),3,3,0,0,0,0,0,0,0.0,2019/20,NaN
3502,A Ahmadhel (BUL),2,1,0,0,0,0,0,0,0.0,2023,NaN
7084,A Ahmadhel (BUL),3,3,0,0,0,0,0,0,0.0,2021,NaN

In [23]:
fielding_table.drop(columns=['Unnamed: 11'], axis=1,inplace=True)
fielding_table

,Player,Mat,Inns,Dis,Ct,St,Ct Wk,Ct Fi,MD,D/I,Season
12570,Zulqarnain Haider (PAK),2,2,1,0,1,0,0,1 (0ct 1st),0.5,2010/11
13737,Zulqarnain Haider (PAK),1,1,0,0,0,0,0,0,0.0,2006/07
4575,Zulqarnain Haider (ESP),6,6,0,0,0,0,0,0,0.0,2022
7497,Zulqarnain Haider (ESP),1,1,0,0,0,0,0,0,0.000,2019/20
8668,Zulqarnain Haider (ESP),4,4,1,1,0,0,1,1 (1ct 0st),0.25,2019
...,...,...,...,...,...,...,...,...,...,...,...
7632,A Ahmadhel (BUL),2,2,0,0,0,0,0,0,0.000,2020/21
7499,A Ahmadhel (BUL),1,1,0,0,0,0,0,0,0.000,2020
8293,A Ahmadhel (BUL),3,3,0,0,0,0,0,0,0.0,2019/20
3502,A Ahmadhel (BUL),2,1,0,0,0,0,0,0,0.0,2023
7084,A Ahmadhel (BUL),3,3,0,0,0,0,0,0,0.0,2021

In [24]:
fielding_table.to_csv('t20_fielding_stats.csv',index=False)